<%-include('header') -%>
<div class="grid grid-cols-12 max-w-screen">
  <%- include('navbar') -%>
  <main class="col-span-9 h-screen overflow-y-auto col-start-4 bg-blue-50">
    <%- include('user-button') -%>

    <section class="flex flex-col items-center"><%- include('chirp') -%> <%- include('chirp') -%> <%- include('chirp') -%> <%- include('chirp') -%></section>
  </main>
</div>
<%-include('footer') -%>
