<%- include('header') -%>
<div class="grid grid-cols-12 max-w-screen">
  <%- include('navbar') -%>
  <main class="col-span-9 h-screen col-start-4 bg-blue-50 flex items-center justify-center">
    <div class="w-full max-w-l bg-white border border-gray-200 rounded-lg shadow-sm">
      <div class="flex flex-col items-center py-10">
        <%- include('user-icon', {small: false, name: userName})%>
        <div class="flex items-center mt-4">
          <h5 class="me-2 text-xl font-medium text-gray-900"><%= userName %></h5>
          <button class="hover:cursor-pointer">
            <svg class="w-[20px] h-[20px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28" />
            </svg>
          </button>
        </div>
        <%- include('form', { formAction: 'edit', formData: formData }) -%>
        <a href="/logout" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 my-2 focus:outline-none">Sign out</a>
        <div class="flex justify-center text-sm font-medium text-gray-500">
          <button onclick="deleteAccount()" class="text-red-700 hover:underline">Delete account</button>
        </div>
        <script>
          function deleteAccount() {
            if (confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
              fetch("/user", {
                method: "DELETE",
              }).catch((error) => console.error("Error:", error));;
            }
          }
        </script>
      </div>
    </div>
  </main>
</div>
<%- include('footer') -%>
